@import './colors';

$badge-radius: 21px;

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  margin: 5px 0;
  border: 2px solid $border {
    radius: 5px;
  }

  .title {
    margin: 0;
    padding: 10px;
    background-color: $background;
    border-bottom: 2px solid $border;
  }

  .content {
    flex: 1;
    display: flex;

    .avatar {
      width: 25%;
      padding: 0 8px;
      margin: 10px 0;
      border-right: 2px solid $border;
    }

    .detail {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 16px;

      p {
        margin: 0 {
          right: 5px;
        }
        padding: 10px 20px 10px 5px;

        &.mine {
          border: 2px solid $primary {
            radius: 3px;
          }
          background-color: rgba($primary, 0.2);
          position: relative;

          .badge {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 2 * $badge-radius;
            height: 2 * $badge-radius;
            border-radius: $badge-radius;
            color: $white;
            background-color: $primary;
            font-size: x-small;
            position: absolute;
            top: -$badge-radius - 1;
            right: -$badge-radius - 1;
          }
        }
      }

      .bold {
        font-weight: bold;
      }
    }
  }
}