@import './colors';

body {
  margin: 0;
  font-family: sans-serif;
  color: $text;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

button {
  color: $white;
  background-color: $primary;
  border: 2px solid $primary {
    radius: 3px;
  }

  &:disabled {
    opacity: 0.6;
  }

  &:hover:enabled {
    cursor: pointer;
  }
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style-type: none;
}