@import './colors';
@import './mixins';

$badge-radius: 21px;

.option {
  padding: 10px 20px 10px 5px;
  margin: 0 {
    right: 5px;
  }

  &.mine {
    position: relative;
    background-color: rgba($primary, 0.2);
    border: 2px solid $primary {
      radius: 3px;
    }

    .badge {
      @include round-badge($badge-radius);
      font-size: x-small;
      position: absolute;
      top: -($badge-radius + 1);
      right: -($badge-radius + 1);
    }
  }
}