@import './colors';
@import './mixins';

$badge-radius: 21px;

.vote-bar {
  display: flex;
  background-color: $background;
  margin: 0 10px 20px;
  height: 30px;
  border-radius: 2px;

  .bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;

    &.mine {
      color: $white;
      background-color: $primary;
      font-weight: bold;
    }
  }
}

.option {
  padding: 10px 20px 10px 5px;
  margin: 0 {
    right: 5px;
  }

  &.mine {
    position: relative;
    background-color: rgba($primary, 0.2);
    border: 2px solid $primary {
      radius: 3px;
    }

    .badge {
      @include round-badge($badge-radius);
      font-size: x-small;
      position: absolute;
      top: -($badge-radius + 1);
      right: -($badge-radius + 1);
    }
  }
}